<!DOCTYPE html>
<html>
    <head>
        <title>Go HTML Templates: Applying Data - Golang from Python</title>
        <meta charset="utf-8" />
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" />
        <link href="http://blog.ojrac.com/theme/static/css/style.css" rel="stylesheet" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link href="http://blog.ojrac.com/feeds/all.atom.xml" type="application/atom+xml" rel="alternate" title="Golang from Python Full Atom Feed" />
        <link href="http://blog.ojrac.com/feeds/golang.atom.xml" type="application/atom+xml" rel="alternate" title="Golang from Python Categories Atom Feed" />
    </head>

    <body id="index" class="archive">
        <div class="container">
            <div class="header">
                <ul class="nav nav-pills pull-right">
                    <li class=""><a href="http://blog.ojrac.com">Home</a></li>
                    <li><a href="http://blog.ojrac.com/archives.html">Archives</a></li>
                </ul>
                <h3 class="text-muted"><a href="http://blog.ojrac.com">Golang from Python</a></h3>
				<h2 class="text-muted"></h2>
             </div>
<section id="content" class="article content">
  <header>
    <h2 class="entry-title">
      <a href="http://blog.ojrac.com/go-html-templates-applying-data.html" rel="bookmark"
         title="Permalink to Go HTML Templates: Applying Data">Go HTML Templates: Applying Data</a></h2>
 
  </header>
  
     
  <div class="entry-content">
    <p>The <a href="http://blog.ojrac.com/go-html-templates-not-jinja2.html">last post</a> on structuring Go templates left out the main feature of templating: varying output. Let's look at my <code>header.html</code> again:</p>
<div class="highlight"><pre><span class="nt">&lt;html&gt;</span>
<span class="nt">&lt;head&gt;&lt;title&gt;</span>{{ . }}<span class="nt">&lt;/title&gt;&lt;/head&gt;</span>
<span class="nt">&lt;body&gt;</span>
</pre></div>


<p><code>{{ . }}</code> means "put the value of <code>.</code> here." So, if you apply that template to the string "Index", it outputs <code>&lt;title&gt;Index&lt;/title&gt;</code>. The same goes for structs; if you apply a template to a <code>struct{Title string}</code>, <code>{{ .Title }}</code> prints the title field.</p>
<p>There's one catch with using <code>.</code>, and the solution was deep enough in the docs that I missed it completely. Here's something that might look right, but isn't:</p>
<div class="highlight"><pre><span class="kd">type</span> <span class="nx">Folder</span> <span class="kd">struct</span> <span class="p">{</span>
    <span class="nx">Name</span> <span class="kt">string</span>
    <span class="nx">Files</span> <span class="p">[]</span><span class="kt">string</span>
<span class="p">}</span>

<span class="nx">f</span> <span class="o">:=</span> <span class="nx">Folder</span><span class="p">{</span><span class="s">&quot;/root&quot;</span><span class="p">,</span> <span class="p">[]</span><span class="kt">string</span><span class="p">{</span><span class="s">&quot;.bash_history&quot;</span><span class="p">,</span> <span class="s">&quot;.bashrc&quot;</span><span class="p">}}</span>

<span class="c1">// It&#39;s not okay to ignore errors... unless you&#39;re a blog post.</span>
<span class="nx">tmpl</span><span class="p">,</span> <span class="nx">_</span> <span class="o">:=</span> <span class="nx">template</span><span class="p">.</span><span class="nx">New</span><span class="p">(</span><span class="s">&quot;t&quot;</span><span class="p">).</span><span class="nx">Parse</span><span class="p">(</span>
    <span class="s">`Contents of {{ .Name }}:</span>
<span class="s">    {{ range _, $f := .Files }}</span>
<span class="s">        {{ .Name }}/{{ $f }}</span>
<span class="s">    {{ end }}</span>
<span class="s">    `</span><span class="p">)</span>
<span class="nx">tmpl</span><span class="p">.</span><span class="nx">Execute</span><span class="p">(</span><span class="nx">os</span><span class="p">.</span><span class="nx">Stdout</span><span class="p">,</span> <span class="nx">f</span><span class="p">)</span>
</pre></div>


<p>This doesn't work, because <code>.</code> changes in context of a range, to refer to the current list element. The fix is easy, but it's buried a few pages down in the docs: <code>$</code> always holds the original value of <code>.</code>.  Here's the correct template (or <a href="http://play.golang.org/p/C4Ex22p16M">run it on play.golang.org</a>):</p>
<div class="highlight"><pre><span class="s">`Contents of {{ .Name }}:</span>
<span class="s">{{ range .Files }}</span>
<span class="s">    {{ $.Name }}/{{ . }}</span>
<span class="s">{{ end }}`</span>
</pre></div>


<p>here's another context in which <code>.</code> changes &mdash; when you invoke another template. Earlier, I applied <code>index.html</code> to a Go string with <code>{{ template "header.html" "Index" }}</code>. This works the same way as applying templates to values in Go code. For a small project, passing a string works great. For a larger project, I expect to pass a larger struct into my header and footer to include CSS and JavaScript files that are needed on each page, rather than a static list in the header.</p>
<p>In the next post, I'll look at functions and control flow. Go templates have a stricter separation between code and formatting, and it's the biggest departure from working with Jinja2.</p>
  </div><!-- /.entry-content -->
   <footer class="post-info text-muted">
    Posted on <abbr class="published" title="2014-09-26T08:15:00">
      Fri 26 September 2014
    </abbr>
    <address class="vcard author">
      by <a class="url fn" href="http://blog.ojrac.com/author/owen-raccuglia.html">Owen Raccuglia</a>
    </address> in <a href="http://blog.ojrac.com/category/golang.html">golang</a> Tagged <a href="http://blog.ojrac.com/tag/templates.html">templates </a>  </footer><!-- /.post-info -->
</section>
            <footer id="contentinfo" class="footer">
                    <nav class="pull-right bottom-nav">
                        <a href="http://blog.ojrac.com/feeds/all.atom.xml">RSS</a>
                    </nav>
                    <address id="about" class="vcard body">
                    &copy; <a href="http://blog.ojrac.com">Golang from Python</a> Proudly powered by <a href="http://getpelican.com/">Pelican</a>
                    </address><!-- /#about -->
            </footer><!-- /#contentinfo -->
        </div><!-- container -->
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
	var pageTracker = _gat._getTracker("UA-55122450-1");
pageTracker._trackPageview();
} catch(err) {}</script>
    </body>
</html>