<!DOCTYPE html>
<html>
    <head>
        <title>Go HTML Templates: Not Jinja2 - Golang from Python</title>
        <meta charset="utf-8" />
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" />
        <link href="http://blog.ojrac.com/theme/static/css/style.css" rel="stylesheet" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link href="http://blog.ojrac.com/feeds/all.atom.xml" type="application/atom+xml" rel="alternate" title="Golang from Python Full Atom Feed" />
        <link href="http://blog.ojrac.com/feeds/golang.atom.xml" type="application/atom+xml" rel="alternate" title="Golang from Python Categories Atom Feed" />
    </head>

    <body id="index" class="archive">
        <div class="container">
            <div class="header">
                <ul class="nav nav-pills pull-right">
                    <li class=""><a href="http://blog.ojrac.com">Home</a></li>
                    <li><a href="http://blog.ojrac.com/archives.html">Archives</a></li>
                </ul>
                <h3 class="text-muted"><a href="http://blog.ojrac.com">Golang from Python</a></h3>
				<h2 class="text-muted"></h2>
             </div>
<section id="content" class="article content">
  <header>
    <h2 class="entry-title">
      <a href="http://blog.ojrac.com/go-html-templates-not-jinja2.html" rel="bookmark"
         title="Permalink to Go HTML Templates: Not Jinja2">Go HTML Templates: Not Jinja2</a></h2>
 
  </header>
  
     
  <div class="entry-content">
    <p>My first impression of Go's template system was pretty rough &mdash; and to understand why, let's talk about <a href="http://jinja.pocoo.org/docs/dev/">Jinja2</a>. To make a page in Python, I inherit most of the structure from a base template:</p>
<div class="highlight"><pre><span class="c">{# base.html #}</span>
<span class="nt">&lt;html&gt;</span>
<span class="nt">&lt;head&gt;&lt;title&gt;</span><span class="cp">{%</span> <span class="k">block</span> <span class="nv">title</span> <span class="cp">%}</span>OVERRIDE THIS<span class="cp">{%</span> <span class="k">endblock</span> <span class="cp">%}</span><span class="nt">&lt;/title&gt;&lt;/head&gt;</span>
<span class="nt">&lt;body&gt;</span>

<span class="cp">{%</span> <span class="k">block</span> <span class="nv">content</span> <span class="cp">%}{%</span> <span class="k">endblock</span> <span class="cp">%}</span>
<span class="nt">&lt;/body&gt;&lt;/html&gt;</span>
</pre></div>


<p>If I wanted to write an <code>index.html</code>, I'd start from <code>base.html</code> and override the sections marked with <code>{% block %}</code> and <code>{% endblock %}</code> tags:</p>
<div class="highlight"><pre><span class="c">{# index.html #}</span><span class="x"></span>
<span class="cp">{%</span> <span class="k">extends</span> <span class="s2">&quot;base.html&quot;</span> <span class="cp">%}</span><span class="x"></span>

<span class="cp">{%</span> <span class="k">block</span> <span class="nv">title</span> <span class="cp">%}</span><span class="x">Index</span><span class="cp">{%</span> <span class="k">endblock</span> <span class="cp">%}</span><span class="x"></span>

<span class="cp">{%</span> <span class="k">block</span> <span class="nv">content</span> <span class="cp">%}</span><span class="x"></span>
<span class="x">This is the index page!</span>
<span class="cp">{%</span> <span class="k">endblock</span> <span class="cp">%}</span><span class="x"></span>
</pre></div>


<p>When you render a template that extends another, it takes the base content and fills in any blocks overridden in the children. So, rendering <code>index.html</code> would look like:</p>
<div class="highlight"><pre><span class="nt">&lt;html&gt;</span>
<span class="nt">&lt;head&gt;&lt;title&gt;</span>Index<span class="nt">&lt;/title&gt;&lt;/head&gt;</span>
<span class="nt">&lt;body&gt;</span>

This is the index page!
<span class="nt">&lt;/body&gt;&lt;/html&gt;</span>
</pre></div>


<p>Go's template system is not like that.</p>
<p>It took me back to my time with PHP &mdash; which is the last thing I ever expected to say about Go. To render a page with common scaffolding in <a href="http://golang.org/pkg/html/template/">html/template</a>, you break <code>base.html</code> up into a header and footer, and include them at the top and bottom:</p>
<p><code>header.html</code>:</p>
<div class="highlight"><pre><span class="nt">&lt;html&gt;</span>
<span class="nt">&lt;head&gt;&lt;title&gt;</span>{{ . }}<span class="nt">&lt;/title&gt;&lt;/head&gt;</span>
<span class="nt">&lt;body&gt;</span>
</pre></div>


<p><code>footer.html</code>:</p>
<div class="highlight"><pre><span class="nt">&lt;/body&gt;&lt;/html&gt;</span>
</pre></div>


<p><code>index.html</code>:</p>
<div class="highlight"><pre>{{ template &quot;header.html&quot; &quot;Index&quot; }}

This is the index page!

{{ template &quot;footer.html&quot; }}
</pre></div>


<p>This felt like a step back: Jinja2's blocks took time to learn, but they let you build HTML content in a way that made total sense &mdash; write elements, and slot them into place. Go's template system is less abstract &mdash; to add a common header, you put a <code>{{ template "header.html" }}</code> exactly where you want it to show up.</p>
<p>While I miss Jinja2's abstractions, I've also started to appreciate the directness of Go's templates. In the next post, I'll talk a bit about how Go applies templates to values &mdash; it's also very different from Jinja2, and (like many things in the Go standard library) as you get into the details, Go's choices start making more sense.</p>
  </div><!-- /.entry-content -->
   <footer class="post-info text-muted">
    Posted on <abbr class="published" title="2014-09-25T08:40:00">
      Thu 25 September 2014
    </abbr>
    <address class="vcard author">
      by <a class="url fn" href="http://blog.ojrac.com/author/owen-raccuglia.html">Owen Raccuglia</a>
    </address> in <a href="http://blog.ojrac.com/category/golang.html">golang</a> Tagged <a href="http://blog.ojrac.com/tag/templates.html">templates </a>  </footer><!-- /.post-info -->
</section>
            <footer id="contentinfo" class="footer">
                    <nav class="pull-right bottom-nav">
                        <a href="http://blog.ojrac.com/feeds/all.atom.xml">RSS</a>
                    </nav>
                    <address id="about" class="vcard body">
                    &copy; <a href="http://blog.ojrac.com">Golang from Python</a> Proudly powered by <a href="http://getpelican.com/">Pelican</a>
                    </address><!-- /#about -->
            </footer><!-- /#contentinfo -->
        </div><!-- container -->
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
	var pageTracker = _gat._getTracker("UA-55122450-1");
pageTracker._trackPageview();
} catch(err) {}</script>
    </body>
</html>