<!DOCTYPE html>
<html>
    <head>
        <title>Go HTML Templates: Functions and Flow - Golang from Python</title>
        <meta charset="utf-8" />
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" />
        <link href="http://blog.ojrac.com/theme/static/css/style.css" rel="stylesheet" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link href="http://blog.ojrac.com/feeds/all.atom.xml" type="application/atom+xml" rel="alternate" title="Golang from Python Full Atom Feed" />
        <link href="http://blog.ojrac.com/feeds/golang.atom.xml" type="application/atom+xml" rel="alternate" title="Golang from Python Categories Atom Feed" />
    </head>

    <body id="index" class="archive">
        <div class="container">
            <div class="header">
                <ul class="nav nav-pills pull-right">
                    <li class=""><a href="http://blog.ojrac.com">Home</a></li>
                    <li><a href="http://blog.ojrac.com/archives.html">Archives</a></li>
                </ul>
                <h3 class="text-muted"><a href="http://blog.ojrac.com">Golang from Python</a></h3>
				<h2 class="text-muted"></h2>
             </div>
<section id="content" class="article content">
  <header>
    <h2 class="entry-title">
      <a href="http://blog.ojrac.com/drafts/go-html-templates-functions-and-flow.html" rel="bookmark"
         title="Permalink to Go HTML Templates: Functions and Flow">Go HTML Templates: Functions and Flow</a></h2>
 
  </header>
  
     
  <div class="entry-content">
    <div class="highlight"><pre><span class="n">Templates</span> <span class="n">are</span> <span class="n">executed</span> <span class="n">by</span> <span class="n">applying</span> <span class="n">them</span> <span class="n">to</span> <span class="n">a</span> <span class="n">data</span> <span class="n">structure</span>
<span class="o">-</span> <span class="p">[</span><span class="n">text</span><span class="o">/</span><span class="n">template</span> <span class="n">docs</span><span class="p">](</span><span class="n">http</span><span class="o">:</span><span class="c1">//golang.org/pkg/text/template/)</span>
</pre></div>


<p>The <a href="http://blog.ojrac.com/go-html-templates-not-jinja2.html">last post</a> focused on how to structure Go templates. It left out the one essential feature of template systems: varying output. Let's look at my <code>header.html</code>:</p>
<div class="highlight"><pre><span class="nt">&lt;html&gt;</span>
<span class="nt">&lt;head&gt;&lt;title&gt;</span>{{ . }}<span class="nt">&lt;/title&gt;&lt;/head&gt;</span>
<span class="nt">&lt;body&gt;</span>
</pre></div>


<p>The <code>{{ . }}</code> means "copy the default representation of . to the output here." So, if you apply the template to the string "Index", it would end up with <code>&lt;title&gt;Index&lt;/title&gt;</code>. The same goes for structs -- if you apply a template to a <code>struct{Title string}</code>, you can write the title with the action <code>{{ .Title }}</code>.</p>
<p>There's one catch with using <code>.</code>, and the solution was deep enough in the docs that I nearly missed it. Here's something that looks right, but isn't:</p>
<div class="highlight"><pre><span class="kd">type</span> <span class="nx">Folder</span> <span class="kd">struct</span> <span class="p">{</span>
    <span class="nx">Name</span> <span class="kt">string</span>
    <span class="nx">Files</span> <span class="p">[]</span><span class="kt">string</span>
<span class="p">}</span>

<span class="nx">f</span> <span class="o">:=</span> <span class="nx">Folder</span><span class="p">{</span><span class="s">&quot;/root&quot;</span><span class="p">,</span> <span class="p">[]</span><span class="kt">string</span><span class="p">{</span><span class="s">&quot;.bash_history&quot;</span><span class="p">,</span> <span class="s">&quot;.bashrc&quot;</span><span class="p">}}</span>

<span class="c1">// It&#39;s not okay to ignore errors, unless you&#39;re a blog post.</span>
<span class="nx">tmpl</span><span class="p">,</span> <span class="nx">_</span> <span class="o">:=</span> <span class="nx">template</span><span class="p">.</span><span class="nx">New</span><span class="p">(</span><span class="s">&quot;t&quot;</span><span class="p">).</span><span class="nx">Parse</span><span class="p">(</span>
    <span class="s">`Contents of {{ .Name }}:</span>
<span class="s">    {{ range _, $f := .Files }}</span>
<span class="s">        {{ .Name }}/{{ $f }}</span>
<span class="s">    {{ end }}</span>
<span class="s">    `</span><span class="p">)</span>
    <span class="nx">tmpl</span><span class="p">.</span><span class="nx">Execute</span><span class="p">(</span><span class="nx">os</span><span class="p">.</span><span class="nx">Stdout</span><span class="p">,</span> <span class="nx">sweaters</span><span class="p">)</span>
</pre></div>


<p><a href="http://play.golang.org/p/4gT_CH5xLu">Run this on play.golang.org</a>.</p>
<p>This code fails to parse, because <code>&lt;.Name&gt;: can't evaluate field Name in type string</code>. The docs point out that range sets <code>.</code> to the current element. The missing piece is a few pages lower: <code>$</code> holds the original value of <code>.</code>.  Here's the correct template (or <a href="http://play.golang.org/p/C4Ex22p16M">on play.golang.org</a>):</p>
<div class="highlight"><pre><span class="nx">template</span><span class="p">.</span><span class="nx">New</span><span class="p">(</span><span class="s">&quot;t&quot;</span><span class="p">).</span><span class="nx">Parse</span><span class="p">(</span>
    <span class="s">`Contents of {{ .Name }}:</span>
<span class="s">    {{ range .Files }}</span>
<span class="s">        {{ $.Name }}/{{ . }}</span>
<span class="s">    {{ end }}</span>
<span class="s">    `</span><span class="p">)</span>
    <span class="nx">tmpl</span><span class="p">.</span><span class="nx">Execute</span><span class="p">(</span><span class="nx">os</span><span class="p">.</span><span class="nx">Stdout</span><span class="p">,</span> <span class="nx">sweaters</span><span class="p">)</span>
</pre></div>


<p>There's another context in which <code>.</code> changes -- when you invoke another template. In last post's <code>index.html</code>, you may have seen the line <code>{{ template "header.html" "Index" }}</code>. You can pass values from template to template, just like when invoking a template from Go. For a small enough project, that works fine. For a larger project, I expect to pass a larger struct into my header and footer, to dynamically include CSS and JavaScript files that are tailored to the page, rather than a static list in the header.</p>
<p>I've had to change my approach to writing HTML compared to working in Jinja2. Things I'd ordinarily do in the template are pushed out into my Go code, and it's starting to grow on me. I'll talk a bit about functions and control flow in templates next time, before moving on to a new topic.</p>
<p>With Jinja2 templates, you think in terms of a base structure that you override in pieces. Go templates feel less easy to extend from inside the templates, but you can do a lot from the code. You should probably read the <a href="http://golang.org/pkg/text/template/">text/template docs</a> if you haven't already -- but, the gist is: you apply a template to a data structure, which is referred to by the <code>.</code> character. <code>header.html</code> expects to be applied to a string, which is used as the page title. In <code>index.html</code>, we pass the title as an argument into the <code>{{ template }}</code>.</p>
<p>This is one way in which Go's built-in API influences my design choices; with Jinja, I could get away with template files declaring their JavaScript includes in <code>{% block %}</code> overrides. In Go, I'm more likely to create a HeaderContext and FooterContext struct, and declaring the list of script files in my .go code.</p>
<p>A lot of Go's standard library feels like it's focused on the simplest thing that will do the job. So, while I miss the flexibility of Jinja2, Go templates can do everything I need -- I'm just not used to it. A pattern that's beginning to emerge from the Go standard library: functional, production-friendly, but inconvenient.</p>
<p>I've talked a lot about the syntax of templates here -- the next post will spend more time on how I actually use the http/template package in my code.</p>
  </div><!-- /.entry-content -->
   <footer class="post-info text-muted">
    Posted on <abbr class="published" title="2014-09-27T22:00:00">
      Sat 27 September 2014
    </abbr>
    <address class="vcard author">
      by <a class="url fn" href="http://blog.ojrac.com/author/owen-raccuglia.html">Owen Raccuglia</a>
    </address> in <a href="http://blog.ojrac.com/category/golang.html">golang</a> Tagged <a href="http://blog.ojrac.com/tag/templates.html">templates </a>  </footer><!-- /.post-info -->
</section>
            <footer id="contentinfo" class="footer">
                    <nav class="pull-right bottom-nav">
                        <a href="http://blog.ojrac.com/feeds/all.atom.xml">RSS</a>
                    </nav>
                    <address id="about" class="vcard body">
                    &copy; <a href="http://blog.ojrac.com">Golang from Python</a> Proudly powered by <a href="http://getpelican.com/">Pelican</a>
                    </address><!-- /#about -->
            </footer><!-- /#contentinfo -->
        </div><!-- container -->
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
	var pageTracker = _gat._getTracker("UA-55122450-1");
pageTracker._trackPageview();
} catch(err) {}</script>
    </body>
</html>