<!DOCTYPE html>
<html>
    <head>
        <title> Articles by Owen Raccuglia - Golang from Python</title>
        <meta charset="utf-8" />
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" />
        <link href="http://blog.ojrac.com/theme/static/css/style.css" rel="stylesheet" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link href="http://blog.ojrac.com/feeds/all.atom.xml" type="application/atom+xml" rel="alternate" title="Golang from Python Full Atom Feed" />
    </head>

    <body id="index" class="archive">
        <div class="container">
            <div class="header">
                <ul class="nav nav-pills pull-right">
                    <li class=""><a href="http://blog.ojrac.com">Home</a></li>
                    <li class="active"><a href="http://blog.ojrac.com/archives.html">Archives</a></li>
                </ul>
                <h3 class="text-muted"><a href="http://blog.ojrac.com">Golang from Python</a></h3>
				<h2 class="text-muted"></h2>
             </div>
<section id="content" class="content">
<h2>Articles by Owen Raccuglia</h2>

        <article class="hentry">
                <header> <h2 class="entry-title"><a href="http://blog.ojrac.com/go-html-templates-functions-and-flow.html" rel="bookmark" title="Permalink to Go HTML Templates: Functions and Flow">Go HTML Templates: Functions and Flow</a></h2> </header>
                <div class="entry-content"> <p>Here's a Jinja2 template I ported to Go:</p>
<div class="highlight"><pre><span class="cp">{%</span> <span class="k">for</span> <span class="nv">user</span> <span class="k">in</span> <span class="nv">users</span> <span class="cp">%}</span>
<span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">&quot;checkbox&quot;</span>
       <span class="na">name=</span><span class="s">&quot;users&quot;</span>
       <span class="na">value=</span><span class="s">&quot;</span><span class="cp">{{</span> <span class="nv">user.guid</span> <span class="cp">}}</span><span class="s">&quot;</span>
       <span class="na">id=</span><span class="s">&quot;user-</span><span class="cp">{{</span> <span class="nv">user.guid</span> <span class="cp">}}</span><span class="s">&quot;</span>
       <span class="cp">{%</span> <span class="k">if</span> <span class="nv">user.guid</span> <span class="k">in</span> <span class="nv">selected_users</span> <span class="cp">%}</span> <span class="err">checked</span><span class="cp">{%</span> <span class="k">endif</span> <span class="cp">%}</span><span class="nt">&gt;</span>
<span class="nt">&lt;label</span> <span class="na">for=</span><span class="s">&quot;user-</span><span class="cp">{{</span> <span class="nv">user.guid</span> <span class="cp">}}</span><span class="s">&quot;</span><span class="nt">&gt;</span><span class="cp">{{</span> <span class="nv">user.name</span> <span class="cp">}}</span><span class="nt">&lt;/label&gt;</span>
<span class="cp">{%</span> <span class="k">endfor</span> <span class="cp">%}</span>
</pre></div>


<p>It renders a checkbox list of users, some of whom are pre-selected. I'm going
to focus on the test <code>{% if user.guid in selected_users %}</code>. In Python, I
passed a list of guids, and was done. There's no generic Go function for "slice
contains," so I tried some silly things - first, I tried to register a template
function.</p>
<p>Actually registering the function was easy: call
<a href="http://golang.org/pkg/text/template/#Template.Funcs">Template.Funcs</a> before
parsing your templates, with a mapping of <code>string</code>s to your new functions. I gave
up on this approach because the most generic contains function I could write
would only work on <code>[]string</code> containers. Since I couldn't make something
globally useful, I tried passing a contains function to the template itself:</p>
<div class="highlight"><pre><span class="kd">var</span> <span class="nx">ctx</span> <span class="kd">struct</span><span class="p">{</span>
    <span class="nx">Users</span> <span class="p">[]</span><span class="nx">db</span><span class="p">.</span><span class="nx">User</span>
    <span class="nx">Selected</span> <span class="kd">func</span><span class="p">(</span><span class="kt">string</span><span class="p">)</span><span class="kt">bool</span>
<span class="p">}</span>
<span class="nx">ctx</span><span class="p">.</span><span class="nx">Users</span><span class="p">,</span> <span class="nx">err</span> <span class="p">=</span> <span class="nx">listUsers</span><span class="p">()</span> <span class="c1">// error handling left to the imagination</span>
<span class="nx">ctx</span><span class="p">.</span><span class="nx">Selected</span> <span class="p">=</span> <span class="kd">func</span><span class="p">(</span><span class="nx">guid</span> <span class="kt">string</span><span class="p">)</span> <span class="p">{</span>
    <span class="k">for</span> <span class="nx">_</span><span class="p">,</span> <span class="nx">u</span> <span class="o">:=</span> <span class="k">range</span> <span class="nx">selectedUsers</span> <span class="p">{</span>
        <span class="k">if</span> <span class="nx">u</span> <span class="o">==</span> <span class="nx">guid</span> <span class="p">{</span>
            <span class="k">return</span> <span class="kc">true</span>
        <span class="p">}</span>
    <span class="p">}</span>

    <span class="k">return</span> <span class="kc">false</span>
<span class="p">}</span>

<span class="nx">templates</span><span class="p">.</span><span class="nx">ExecuteTemplate</span><span class="p">(</span><span class="nx">w</span><span class="p">,</span> <span class="s">&quot;form.html&quot;</span><span class="p">,</span> <span class="nx">ctx</span><span class="p">)</span>
</pre></div>


<p>This had more promise -- calling the function looked like this: <code>{{ if index
$.Selected .Guid }}</code>. It worked, but ultimately, it was less clear than a
<code>map[string]bool</code>, and more code. The test <code>{{ if index .Map $key }}</code>
treats missing keys as false, so you only need to fill in the <code>true</code> keys.</p>
<p>In the Go code above, you can see that I'm rendering templates by applying them
to anonymous structs. It's concise if you only call the template once; for
templates I have to reuse (mostly forms), unexported structs work well.</p>
<p>The next post will cover my attempts to recreate the middleware/decorator
experience from Flask, and a quick look at some 3rd-party libraries.</p> </div><!-- entry-content -->
        </article>
        <article class="hentry">
                <header> <h2 class="entry-title"><a href="http://blog.ojrac.com/go-html-templates-applying-data.html" rel="bookmark" title="Permalink to Go HTML Templates: Applying Data">Go HTML Templates: Applying Data</a></h2> </header>
                <div class="entry-content"> <p>The <a href="http://blog.ojrac.com/go-html-templates-not-jinja2.html">last post</a> on structuring Go templates left out the main feature of templating: varying output. Let's look at my <code>header.html</code> again:</p>
<div class="highlight"><pre><span class="nt">&lt;html&gt;</span>
<span class="nt">&lt;head&gt;&lt;title&gt;</span>{{ . }}<span class="nt">&lt;/title&gt;&lt;/head&gt;</span>
<span class="nt">&lt;body&gt;</span>
</pre></div>


<p><code>{{ . }}</code> means "put the value of <code>.</code> here." So, if you apply that template to the string "Index", it outputs <code>&lt;title&gt;Index&lt;/title&gt;</code>. The same goes for structs; if you apply a template to a <code>struct{Title string}</code>, <code>{{ .Title }}</code> prints the title field.</p>
<p>There's one catch with using <code>.</code>, and the solution was deep enough in the docs that I missed it completely. Here's something that might look right, but isn't:</p>
<div class="highlight"><pre><span class="kd">type</span> <span class="nx">Folder</span> <span class="kd">struct</span> <span class="p">{</span>
    <span class="nx">Name</span> <span class="kt">string</span>
    <span class="nx">Files</span> <span class="p">[]</span><span class="kt">string</span>
<span class="p">}</span>

<span class="nx">f</span> <span class="o">:=</span> <span class="nx">Folder</span><span class="p">{</span><span class="s">&quot;/root&quot;</span><span class="p">,</span> <span class="p">[]</span><span class="kt">string</span><span class="p">{</span><span class="s">&quot;.bash_history&quot;</span><span class="p">,</span> <span class="s">&quot;.bashrc&quot;</span><span class="p">}}</span>

<span class="c1">// It&#39;s not okay to ignore errors... unless you&#39;re a blog post.</span>
<span class="nx">tmpl</span><span class="p">,</span> <span class="nx">_</span> <span class="o">:=</span> <span class="nx">template</span><span class="p">.</span><span class="nx">New</span><span class="p">(</span><span class="s">&quot;t&quot;</span><span class="p">).</span><span class="nx">Parse</span><span class="p">(</span>
    <span class="s">`Contents of {{ .Name }}:</span>
<span class="s">    {{ range _, $f := .Files }}</span>
<span class="s">        {{ .Name }}/{{ $f }}</span>
<span class="s">    {{ end }}</span>
<span class="s">    `</span><span class="p">)</span>
<span class="nx">tmpl</span><span class="p">.</span><span class="nx">Execute</span><span class="p">(</span><span class="nx">os</span><span class="p">.</span><span class="nx">Stdout</span><span class="p">,</span> <span class="nx">f</span><span class="p">)</span>
</pre></div>


<p>This doesn't work, because <code>.</code> changes in context of a range, to refer to the current list element. The fix is easy, but it's buried a few pages down in the docs: <code>$</code> always holds the original value of <code>.</code>.  Here's the correct template (or <a href="http://play.golang.org/p/C4Ex22p16M">run it on play.golang.org</a>):</p>
<div class="highlight"><pre><span class="s">`Contents of {{ .Name }}:</span>
<span class="s">{{ range .Files }}</span>
<span class="s">    {{ $.Name }}/{{ . }}</span>
<span class="s">{{ end }}`</span>
</pre></div>


<p>here's another context in which <code>.</code> changes &mdash; when you invoke another template. Earlier, I applied <code>index.html</code> to a Go string with <code>{{ template "header.html" "Index" }}</code>. This works the same way as applying templates to values in Go code. For a small project, passing a string works great. For a larger project, I expect to pass a larger struct into my header and footer to include CSS and JavaScript files that are needed on each page, rather than a static list in the header.</p>
<p>In the <a href="http://blog.ojrac.com/go-html-templates-functions-and-flow.html">next post</a>, I'll look at functions and control flow. Go templates have a stricter separation between code and formatting, and it's the biggest departure from working with Jinja2.</p> </div><!-- entry-content -->
        </article>
        <article class="hentry">
                <header> <h2 class="entry-title"><a href="http://blog.ojrac.com/go-html-templates-not-jinja2.html" rel="bookmark" title="Permalink to Go HTML Templates: Not Jinja2">Go HTML Templates: Not Jinja2</a></h2> </header>
                <div class="entry-content"> <p>My first impression of Go's template system was pretty rough &mdash; and to understand why, let's talk about <a href="http://jinja.pocoo.org/docs/dev/">Jinja2</a>. To make a page in Python, I inherit most of the structure from a base template:</p>
<div class="highlight"><pre><span class="c">{# base.html #}</span>
<span class="nt">&lt;html&gt;</span>
<span class="nt">&lt;head&gt;&lt;title&gt;</span><span class="cp">{%</span> <span class="k">block</span> <span class="nv">title</span> <span class="cp">%}</span>OVERRIDE THIS<span class="cp">{%</span> <span class="k">endblock</span> <span class="cp">%}</span><span class="nt">&lt;/title&gt;&lt;/head&gt;</span>
<span class="nt">&lt;body&gt;</span>

<span class="cp">{%</span> <span class="k">block</span> <span class="nv">content</span> <span class="cp">%}{%</span> <span class="k">endblock</span> <span class="cp">%}</span>
<span class="nt">&lt;/body&gt;&lt;/html&gt;</span>
</pre></div>


<p>If I wanted to write an <code>index.html</code>, I'd start from <code>base.html</code> and override the sections marked with <code>{% block %}</code> and <code>{% endblock %}</code> tags:</p>
<div class="highlight"><pre><span class="c">{# index.html #}</span><span class="x"></span>
<span class="cp">{%</span> <span class="k">extends</span> <span class="s2">&quot;base.html&quot;</span> <span class="cp">%}</span><span class="x"></span>

<span class="cp">{%</span> <span class="k">block</span> <span class="nv">title</span> <span class="cp">%}</span><span class="x">Index</span><span class="cp">{%</span> <span class="k">endblock</span> <span class="cp">%}</span><span class="x"></span>

<span class="cp">{%</span> <span class="k">block</span> <span class="nv">content</span> <span class="cp">%}</span><span class="x"></span>
<span class="x">This is the index page!</span>
<span class="cp">{%</span> <span class="k">endblock</span> <span class="cp">%}</span><span class="x"></span>
</pre></div>


<p>When you render a template that extends another, it takes the base content and fills in any blocks overridden in the children. So, rendering <code>index.html</code> would look like:</p>
<div class="highlight"><pre><span class="nt">&lt;html&gt;</span>
<span class="nt">&lt;head&gt;&lt;title&gt;</span>Index<span class="nt">&lt;/title&gt;&lt;/head&gt;</span>
<span class="nt">&lt;body&gt;</span>

This is the index page!
<span class="nt">&lt;/body&gt;&lt;/html&gt;</span>
</pre></div>


<p>Go's template system is not like that.</p>
<p>It took me back to my time with PHP &mdash; which is the last thing I ever expected to say about Go. To render a page with common scaffolding in <a href="http://golang.org/pkg/html/template/">html/template</a>, you break <code>base.html</code> up into a header and footer, and include them at the top and bottom:</p>
<p><code>header.html</code>:</p>
<div class="highlight"><pre><span class="nt">&lt;html&gt;</span>
<span class="nt">&lt;head&gt;&lt;title&gt;</span>{{ . }}<span class="nt">&lt;/title&gt;&lt;/head&gt;</span>
<span class="nt">&lt;body&gt;</span>
</pre></div>


<p><code>footer.html</code>:</p>
<div class="highlight"><pre><span class="nt">&lt;/body&gt;&lt;/html&gt;</span>
</pre></div>


<p><code>index.html</code>:</p>
<div class="highlight"><pre>{{ template &quot;header.html&quot; &quot;Index&quot; }}

This is the index page!

{{ template &quot;footer.html&quot; }}
</pre></div>


<p>This felt like a step back: Jinja2's blocks took time to learn, but they let you build HTML content in a way that made total sense &mdash; write elements, and slot them into place. Go's template system is less abstract &mdash; to add a common header, you put a <code>{{ template "header.html" }}</code> exactly where you want it to show up.</p>
<p>While I miss Jinja2's abstractions, I've also started to appreciate the directness of Go's templates. In <a href="http://blog.ojrac.com/go-html-templates-applying-data.html">the next post</a>, I talk a bit about how Go applies templates to values &mdash; it's also very different from Jinja2, and (like many things in the Go standard library) as you get into the details, Go's choices start making more sense.</p> </div><!-- entry-content -->
        </article>
        <article class="hentry">
                <header> <h2 class="entry-title"><a href="http://blog.ojrac.com/writing-go-web-services.html" rel="bookmark" title="Permalink to Writing Go Web Services">Writing Go Web Services</a></h2> </header>
                <div class="entry-content"> <p>Google Go (“golang” to your search engine) is a promising language for web services, and I expect to use it professionally within the next five years. But, unlike other languages and frameworks with a longer history, there aren’t many people or resources to help me get productive. So, I’m going to learn the old fashioned way: by taking an app I wrote and rewriting it in Go, and documenting the ups and downs.</p>
<p>If you’re looking for the “right” way to do things, don’t take what I say too seriously; I’ll try to be thoughtful, but I expect to change my mind several times over the next few months. My goal here is to make a lot of beginner mistakes now, so I can be somewhat competent in the future. Perhaps the distant future.</p>
<p>Besides my main goal (make mistakes; learn; repeat), I have a few things in mind for this project. First, I’m using some code I already worked on — a Django-based web game with the working title of Asphodel. Second, I’m going to try and use the standard library as much as I can — I’m partly inspired by this post, by the author of the Martini middleware framework, on why standard interfaces are important. As a counterpoint, I’m also going to try some libraries — though compatibility with the standard library will influence my choices. I’m trying to learn to be productive, and using open source libraries is a big part of that. And finally, I’m going to balance pragmatism with my quest for knowledge: ultimately, I don’t mind writing some code that seems rushed if it gets the job done while I focus on something else. At worst, I rewrite it later; at best, I actually like the “quick” code I wrote.</p>
<p>I’m going to start this off with a post about HTML templates; coming from Jinja or Django templates, it took some getting used to.</p> </div><!-- entry-content -->
        </article>
<div class="pager">
      <ul>
                        <li class="previous disabled"><a>← Previous</a></li>
                        <li class="next disabled"><a>Next →</a></li>
      </ul>
    </div>
</section><!-- content -->
            <footer id="contentinfo" class="footer">
                    <nav class="pull-right bottom-nav">
                        <a href="http://blog.ojrac.com/feeds/all.atom.xml">RSS</a>
                    </nav>
                    <address id="about" class="vcard body">
                    &copy; <a href="http://blog.ojrac.com">Golang from Python</a> Proudly powered by <a href="http://getpelican.com/">Pelican</a>
                    </address><!-- /#about -->
            </footer><!-- /#contentinfo -->
        </div><!-- container -->
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
	var pageTracker = _gat._getTracker("UA-55122450-1");
pageTracker._trackPageview();
} catch(err) {}</script>
    </body>
</html>